<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="page">
    <div class="header"></div>
    <div>
        <div class="left-side">
            <div class="widget">
                <h3 class="widget-title">Категории</h3>
                <ul class="widget-list">
                    <li><a href="">Главная</a></li>
                    <li><a href="/play">Игра</a></li>
                    <li><a href="/list">Словарь</a></li>
                    <li><a href="/loadnew">Добавить</a></li>
                    <li><a href="/documentation">API</a></li>
                </ul>
            </div>
        </div>
        <div class="content">

        </div>
    </div>
    <div class="footer">
        <div class="ip_address"></div>
    </div>
</div>

</body>
<script th:src="@{/my_scripts.js}"></script>
<script th:src="@{/jQuery341.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</html>