<!DOCTYPE HTML>
<html>
<head>
 <style>
   .btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */ 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
   }
   H1 { text-align: center }
  </style>
</head>
<body>

<h1>English words </h1>

<a href="/play" class="btn">play</a>

</body>
</html>