<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<div class="page">
    <div class="header"></div>
    <div>

        <div class="left-side">
            <div class="widget">
                <h3 class="widget-title">Категории</h3>
                <ul class="widget-list">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/play">Игра</a></li>
                    <li><a href="">Словарь</a></li>
                    <li><a href="/loadnew">Добавить</a></li>
                </ul>
            </div>
        </div>

        <div class="content">
            <div class="table_div" th:fragment="word-list" th:if="${wordList != null && !wordList.isEmpty()}">
                <table style="width:100%">
                    <thead>
                    <tr>
                        <th class="firstTh">ID</th>
                        <th>word</th>
                        <th>translate</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="word : ${wordList}">
                        <td class="firstTh" th:text="${{word.id}}">...</td>
                        <td th:text="${{word.name}}">...</td>
                        <td th:text="${{word.translate}}">...</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="text-align: center" th:fragment="pagination">
                <div class="pagination">
                    <th:block th:each="pageNumber : ${pageNumbers}">
                        <a th:href="@{|/list/${pageNumber}|}"
                           th:classappend="${activePage == pageNumber} ? active : notactive "
                           th:text=${pageNumber}>1</a>
                    </th:block>
                </div>
            </div>
        </div>

    </div>
    <div class="footer"></div>
</div>

</body>
</html>