<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<div class="page">
    <div class="header"></div>
    <div>

        <div class="left-side">
            <div class="widget">
                <h3 class="widget-title">Категории</h3>
                <ul class="widget-list">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/play">Игра</a></li>
                    <li><a href="">Словарь</a></li>
                    <li><a href="/loadnew">Добавить</a></li>
                </ul>
            </div>
        </div>

        <div class="content">
            <div th:fragment="article-list" th:if="${wordList != null && !wordList.isEmpty()}">
                    <table style="width:100%">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>word</th>
                            <th>translate</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="article : ${wordList}">
                            <td th:text="${{article.id}}">...</td>
                            <td th:text="${{article.name}}">...</td>
                            <td th:text="${{article.translate}}">...</td>
                        </tr>
                        </tbody>
                    </table>
            </div>
            <div th:fragment="pagination">
                    <nav aria-label="Pagination">
                        <ul >
                            <li  th:each="pageNumber : ${pageNumbers}" >
                                <a  th:href="@{|/list/${pageNumber}|}" th:text=${pageNumber}>1</a>
                            </li>
                        </ul>
                    </nav>
            </div>
        </div>

    </div>
    <div class="footer"></div>
</div>

</body>
</html>