<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="page">
    <div class="header"></div>
    <div>

        <div class="left-side">
            <div class="widget">
                <h3 class="widget-title">Категории</h3>
                <ul class="widget-list">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/play">Игра</a></li>
                    <li><a href="/list">Словарь</a></li>
                    <li><a href="">Добавить</a></li>
                    <li><a href="/documentation">API</a></li>
                </ul>
            </div>
        </div>

        <div class="content">
            <form>
                <div>
                    <table class="loadnew">
                        <tr>
                            <td>english</td>
                            <td><input type="text" id="text1" size="40" name="name"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="response_status_name"></td>
                        </tr>
                        <tr>
                            <td>russian</td>
                            <td><input type="text" id="text2" size="40" name="translate"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="response_status_translate"></td>
                        </tr>
                        <tr>
                            <td><a href="#" type="submit" class="knopka" onClick="sendWord();">Сохранить</a></td>
                            <td class="response_status"></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>

    </div>
    <div class="footer"></div>
</div>

</body>
<script th:src="@{/my_scripts.js}"></script>
<script th:src="@{/jQuery341.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</html>