<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="page">
    <div class="header"></div>
    <div>
        <div class="left-side">
            <div class="widget">
                <h3 class="widget-title">Категории</h3>
                <ul class="widget-list">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/play">Игра</a></li>
                    <li><a href="/list">Словарь</a></li>
                    <li><a href="/loadnew">Добавить</a></li>
                    <li><a href="/documentation">API</a></li>
                    <li><a href="">login</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <form action="/login" method="POST">
                <table>
                    <tr>
                        <td>User:</td>
                        <td><input type="text" name="username" value=""></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type="password" name="password" /></td>
                    </tr>
                    <tr>
                        <td><input name="submit" type="submit" value="submit" /></td>
                    </tr>
                </table>
            </form>
            <div sec:authorize="isAnonymous()" >
                <form id="logoutForm" method="post" action="/logout">
                    vdgvffghgh
                </form>
                <h2>Admin page ${pageContext.request.userPrincipal.name} | <a onclick="document.forms['logoutForm'].submit()">Logout</a></h2>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="ip_address"></div>
    </div>
</div>

</body>
<script th:src="@{/my_scripts.js}"></script>
<script th:src="@{/jQuery341.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</html>