<!DOCTYPE HTML>
<html>
<head>
 <script src="jQuery341.js"></script>
 <script src="my_scripts.js"></script>
 <link rel="stylesheet" href="style.css">
</head>
<body>

<h1>English words </h1>
<h2 class="greeting-id">Word: </h2>
<h2 class="greeting-content">Rus:  </h2>
<div class="centerblock">
	<a href="#" class="btn2" onClick="myFunction();">know</a>
	<a href="#" class="btn2" onClick="myFunction2();">don't know</a>
	<div class="centerblock1">
		<a href="/" class="btnRed">stop</a>
	</div>
</div>

</body>
</html>