<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<div class="page">
    <div class="header"></div>
    <div>
        <div class="left-side">
            <div class="widget">
                <h3 class="widget-title" th:text="#{mainmenu.categories}"></h3>
                <ul class="widget-list">
                    <li><a href="/" th:text="#{mainmenu.main}"></a></li>
                    <li><a href="" th:text="#{mainmenu.game}"></a></li>
                    <li><a href="/list" th:text="#{mainmenu.vocabulary}"></a></li>
                    <li><a href="/loadnew" th:text="#{mainmenu.addnewword}"></a></li>
                    <li><a href="/documentation" th:text="#{mainmenu.api}"></a></li>
                    <li><a href="/login" th:text="#{mainmenu.login}"></a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div>
                <table class="play">
                    <tr>
                        <td><h2 th:text="#{game.maintable.word}"></h2></td>
                        <td><h2 th:text="#{game.maintable.translate}"></h2></td>
                    </tr>
                    <tr>
                        <td><h2 class="greeting-id"></h2></td>
                        <td><h2 class="greeting-content" id="translate1"></h2></td>
                    </tr>
                    <tr>
                        <td><h2></h2></td>
                        <td><h2 class="greeting-content" id="translate2"></h2></td>
                    </tr>
                    <tr>
                        <td><h2></h2></td>
                        <td><h2 class="greeting-content" id="translate3"></h2></td>
                    </tr>
                    <tr>
                        <td><h2></h2></td>
                        <td><h2 class="greeting-content" id="translate4"></h2></td>
                    </tr>
                    <tr>
                        <td><a href="#" class="knopka" onClick="myFunction();" th:text="#{game.maintable.next}"></a></td>
                        <td><a href="#" class="knopka" onClick="setVisible();" th:text="#{game.maintable.show.translate}"></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</div>

</body>
<script th:src="@{/my_scripts.js}"></script>
<script th:src="@{/jQuery341.js}"></script>
</html>