<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<div class="page">
    <div class="header"></div>
    <div>
        <div class="left-side">
            <div class="widget">
                <h3 class="widget-title" th:text="#{mainmenu.categories}"></h3>
                <ul class="widget-list">
                    <li><a href="/" th:text="#{mainmenu.main}"></a></li>
                    <li><a href="/play" th:text="#{mainmenu.game}"></a></li>
                    <li><a href="/list" th:text="#{mainmenu.vocabulary}"></a></li>
                    <li><a href="/loadnew" th:text="#{mainmenu.addnewword}"></a></li>
                    <li><a href="/documentation" th:text="#{mainmenu.api}"></a></li>
                    <li><a href="/login" th:text="#{mainmenu.login}"></a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div sec:authorize="!isAuthenticated()">
                <form action="/registration" method="POST">
                    <table>
                        <tr>
                            <td th:text="#{registration.maintable.user}"></td>
                            <td><input type="text" name="username" value=""></td>
                        </tr>
                        <tr>
                            <td th:text="#{registration.maintable.password}"></td>
                            <td><input type="password" name="password"/></td>
                        </tr>
                        <tr>
                            <td th:text="#{registration.maintable.password.confirm}"></td>
                            <td><input type="password" name="confirmPassword"/></td>
                        </tr>
                        <tr>
                            <td><input name="submit" type="submit" th:attr="value=#{registration.maintable.submit}"/></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="ip_address"></div>
    </div>
</div>

</body>
<script th:src="@{/my_scripts.js}"></script>
<script th:src="@{/jQuery341.js}"></script>
</html>